<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<!--配置AppId-->
		<add key="Apollo.AppId" value="ConsoleApp-Framework" />
		<!--配置应用环境-->
		<add key="Apollo.Env" value="DEV" />
		<!--配置Apollo所属环境的服务地址-->
		<add key="Apollo.DEV.Meta" value="http://192.168.153.130:8080" />
		<!--<add key="Apollo.MetaServer" value="http://192.168.153.130:8080" />-->
		<!--配置Apollo的集群名称-->
		<add key="Apollo.Cluster" value="application" />
		<!--配置对应环境的访问密钥-->
		<add key="Apollo.Secret" value="83fca65cc0a64aef93007dc2f65c4045" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>